{% extends 'LyricsChords/base.html' %}
{% load static %}
{% block content %}
<div class="homepg-div">
    <div id="home-btns" class="col-md-12 d-flex">
        <h2><button id="lyric-selector">Lyric Plugin</button></h2>
        <h2><button id="chord-selector">Chord Plugin</button></h2>
    </div>
    <div class="homepg-text">
        <small>
            *When a song is over, new song information will automatically be fetched.
        </small>
        <br>
        <small>
            *If you manually change the song, reload the page to instantly fetch new information.
        </small>
    </div>
</div>
{% endblock content%}

{% block extrascripts %}
        <script type="text/JavaScript" src="{%  static 'LyricsChords/js/getselection.js' %}"></script>
{% endblock extrascripts %}

