{% extends 'LyricsChords/base.html' %}
{% load static %}
{% block content %}
<div class="l-redir-container">
    <div class="col-md-12 redir-text">
        <h2>Redirecting...</h2>
        <h2>Please hold...</h2>
    </div>
    <div class="l-redir-text">
        <small>
            *If you are not redirected after a few seconds, please return to Home and try again.
        </small>
        <br>
    </div>
</div>
{% endblock content%}

{% block extrascripts %}
        <script type="text/JavaScript" src="{%  static 'LyricsChords/js/geturl.js' %}"></script>
{% endblock extrascripts %}